/* SINGLE CARD STYLES*/
.bwm-card {
    border: none;


    .card-block {
      padding-top: 8px;


      .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #16861a;
      }
    }
}